* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a modern color scheme */

body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  color: black;
  background: #313131 url('../../img/background2.jpg') no-repeat center / cover fixed; /* Update background property */
}


/* Style the header and navigation */
header {
  background-color: #000000;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

nav ul li {
  display: inline;
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Style the main content section */
main {
  padding: 20px;
}

section {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* Style the footer */
.site-footer {
  background-color: #111;
  color: #156;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Preload the background image */
#preload-bg {
  display: none;
  background: url('../../img/background2.jpg') no-repeat center / cover;
}

/* Style the toggle switch */
.toggle-switch {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-switch label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + label {
  background-color: #6ab04c;
}

.toggle-switch input[type="checkbox"]:checked + label:after {
  transform: translateX(20px);
}

